body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.mainContent {
    width: auto;
    margin: 12px 20px;
    /*border: 1px solid gray;
    box-shadow: 1px 2px 9px #888888;*/
}

.serviceBox {
    width: 134px;
    margin: 2px;
    border: 1px solid gray;
    overflow-wrap: break-word;
}
    .serviceBox:hover {
        cursor: pointer;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.1s ease;
    }
    .serviceBox:active {
        background: #2237a2;
        color: azure;
    }
.checked {
    background: #2237a2;
    color: azure;
}

.mainBlock {
    margin: 6px;
    border: 1px solid gray;
    box-shadow: 1px 2px 9px #888888;
}

.receiptBlock {
    width: 31.5%;
    float: right;
}
.containerBlock {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));*/
    grid-template-columns: repeat(5, 140px);
}
.containerBlock > div {
   padding: .5em;
   text-align:center;
}
.block{
    margin-top: 40px;
}
h4 {
    color:#ababab;
}
.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.item>span{
    text-align:right;
}
#period{
    margin-top:15px;
}
